* {
    margin:0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","SF Pro","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
}

*, *::before,*::after{
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {
    font-weight: 400;
    line-height: 1.6rem;
    
}

.container {
    width: 100vw;
    // min-height: 100vh;
    display: flex;
}
///////////////////////////
////  SIDENAV
.sidenav-container {
    width: 20% ;
    background-color: #f9f9f9;
    height: 100vh;
    border-right : 1px solid rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 3rem;
    // align-items: center; 
    
    
}
.sidenav {
    width: 85%;
}
///////////////////////////
////  SIDENAV SEARCH-BOX
.search-box {
    margin-top: 2rem;
    border: 1px solid rgba(0,0,0,0.15);
    padding: .7rem .8rem;
    background-color: white;
    border-radius : .4rem;
    &__input {
        width: 70%;
        margin-left: .5rem;
        background-color: transparent;
        border:none;
        outline:none;
        &::placeholder {
            color: #00000059;
        }
    }
    &__logo{ z-index: 2;}

    
}
.web-nav {
    display:flex;
    flex-direction: column;
    // align-items: center;
    margin-bottom: 2rem;
    border-bottom: .1rem solid rgba(0,0,0,0.15);

    &__list {
        list-style: none;
        font-size: 1.7rem;
        padding-top: 2rem;

    }

    &__anchor{
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        margin-bottom: 1.1rem;
        padding-right: 2rem;
    }
    &__list-item {
        
        & span {
            padding-top: .4rem;
            margin-left: 1rem;
        }


    }

}

.itunes-cta {
    width: 100%;
    &__btn {
        border:none;
        outline: none;
        background-color: transparent;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__text {
        margin-left: 1rem;
        margin-right: 1rem;
        color : rgba(0,0,0,.35);
    }
}

///////////////////////////
////  MAIN CONTENT

.content-view {
    width: 80%;
    background-color: #ffffff;
}