* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6rem;
}

.container {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
}

::-webkit-scrollbar {
  width: 0.4rem !important;
  height: 0.4rem !important;
  padding-right: 0.2rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #9b9898;
  border-radius: 0.5rem;
}

.sidenav-container {
  width: 20%;
  background-color: #f9f9f9;
  max-height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 3rem;
}

.sidenav {
  width: 85%;
}

.search-box {
  margin-top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.7rem 0.8rem;
  background-color: white;
  border-radius: 0.4rem;
}
.search-box__input {
  width: 70%;
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.search-box__input::-moz-placeholder {
  color: #00000059;
}
.search-box__input:-ms-input-placeholder {
  color: #00000059;
}
.search-box__input::placeholder {
  color: #00000059;
}

.web-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
}
.web-nav__list {
  list-style: none;
  font-size: 1.7rem;
  padding-top: 2rem;
}
.web-nav__anchor {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
  padding-right: 2rem;
}
.web-nav__list-item span {
  padding-top: 0.4rem;
  margin-left: 1rem;
}

.itunes-cta {
  width: 100%;
}
.itunes-cta__btn {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.itunes-cta__text {
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.35);
}

.content-view {
  width: 80%;
  background-color: #ffffff;
  max-height: 100vh;
}

.sign-section {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  text-align: end;
}
.sign-section__btn {
  border: none;
  outline: none;
  background-color: #fa233b;
  color: white;
  padding: 0.5rem 0.9rem;
  border-radius: 0.5rem;
}

.inner-section {
  width: 100%;
  margin-top: 5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.inner-section__header-title {
  font-size: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 6rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
}

.shelf-grid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
}
.shelf-grid__item {
  width: 49.7rem;
  margin-top: 1.6rem;
}

.badge-subhead__p {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.35);
}
.badge-subhead__h2 {
  font-size: 1.7rem;
  line-height: 1.29412;
  font-weight: 400;
}
.badge-subhead__description {
  font-weight: 200;
  font-size: 1.8rem;
  color: #3C3C4399;
}
.badge-subhead__img {
  margin-top: 0.8rem;
  width: 100%;
  height: 28.5rem;
  border-radius: 0.6rem;
}

.shelf2 {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
  padding-bottom: 3rem;
}
.shelf2:not(:last-child) {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
}
.shelf2-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.shelf2-section__title {
  font-size: 1.7rem;
  color: #000000F2;
}
.shelf2-section__see-all {
  color: #fa233b;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.shelf2-section__see-all:hover {
  border-bottom: 1px solid #fa233b;
}

.grid {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
}

.grid-item {
  width: 18.68rem;
}
.grid-item__img3 {
  width: 100%;
  border-radius: 50%;
  height: 18.68rem;
}
.grid-item__img, .grid-item__img2 {
  width: 100%;
  border-radius: 0.6rem;
}
.grid-item__img {
  height: 18.68rem;
}
.grid-item__img2 {
  height: 10.53rem;
}
.grid-item-lookup__name {
  text-decoration: none;
  font-size: 1.19rem;
  color: #000000FD;
}
.grid-item-lookup__genre {
  font-size: 1.5rem;
}
.grid-item-lookup__genre3, .grid-item-lookup__genre2 {
  font-size: 1.3rem;
}
.grid-item-lookup__genre3, .grid-item-lookup__genre, .grid-item-lookup__genre2 {
  color: #3C3C4399;
}
.grid-item-lookup__genre3 {
  text-align: center;
}

.footer-section {
  margin-top: 4rem;
  margin-bottom: 7rem;
  padding-bottom: 3rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  background-color: #f9f9f9;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}
.copyright__text {
  color: rgba(0, 0, 0, 0.5);
}
.copyright__text a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.copyright__text a:hover {
  border-bottom: 0.1rem solid #fa233b;
  color: #fa233b;
}
.copyright__country a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.copyright__country a:hover {
  border-bottom: 0.1rem solid black;
}

.sub-info {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.sub-info__item a {
  color: black;
  margin-right: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}
.sub-info__item a:not(:last-of-type) {
  border-right: 1px solid black;
}
.sub-info__item a:hover {
  border-bottom: 0.1rem solid #fa233b;
  color: #fa233b;
}
.sub-info__item a :not(:last-child) {
  border-right: 0.1rem solid black;
}

/**
&:not(:last-child){
                content: '';
            padding-right: 1rem;
            border-right:1px solid rgba(0,0,0,0.35);
            height: 100%;
            text-decoration: none;
            }
**//*# sourceMappingURL=style.css.map */