* {
    margin:  0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","SF Pro","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
}

*, *::before,*::after{
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {
    font-weight: 400;
    line-height: 1.6rem;

}

.container {
    max-width: 100vw;
    overflow-x: hidden;
    // min-height: 100vh;
    display: flex;
}
///////////////////////// 
//// SCROLLBAR

::-webkit-scrollbar {
    width: .4rem !important;
    height: .4rem !important;

   
  }

  ::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
    width: 4rem;
}
::-webkit-scrollbar-thumb {
    background: #9b9898;
    border-radius: .5rem ; 
    
  }

///////////////////////////
////  SIDENAV
.sidenav-container {
    width: 20% ;
    background-color: #f9f9f9;
    max-height: 100vh;
    border-right : 1px solid rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 3rem;
    position: fixed;
    height: 100%;

    // overflow-y:hidden;
    // align-items: center;


}
.sidenav {
    width: 85%;
}
///////////////////////////
////  SIDENAV SEARCH-BOX
.search-box {
    margin-top: 2rem;
    border: 1px solid rgba(0,0,0,0.15);
    padding: .7rem .8rem;
    background-color: white;
    border-radius : .4rem;
    &__input {
        width: 70%;
        margin-left: .5rem;
        background-color: transparent;
        border:none;
        outline:none;
        &::placeholder {
            color: #00000059;
        }
    }


}
.web-nav {
    display:flex;
    flex-direction: column;
    // align-items: center;
    margin-bottom: 2rem;
    border-bottom: .1rem solid rgba(0,0,0,0.15);

    &__list {
        list-style: none;
        font-size: 1.7rem;
        padding-top: 2rem;

    }

    &__anchor{
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        margin-bottom: 1.1rem;
        padding-right: 2rem;
    }
    &__list-item {

        & span {
            padding-top: .4rem;
            margin-left: 1rem;
        }


    }

}

.itunes-cta {
    width: 100%;
    &__btn {
        border:none;
        outline: none;
        background-color: transparent;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__text {
        margin-left: 1rem;
        margin-right: 1rem;
        color : rgba(0,0,0,.35);
    }
}

///////////////////////////
////  MAIN CONTENT

.content-view {
    width: 80%;
    background-color: #ffffff;
    max-height: 100vh;
    margin-left: 20% ;
    // overflow: hidden;
}

.sign-section {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    text-align: end;
    &__btn {
        border:none;
        outline:none;
        background-color: #fa233b;
        color: white;
        padding: .5rem .9rem;
        border-radius: .5rem;
    }
}


.inner-section {
    width: 100%;
    margin-top: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    &__header-title{
     font-size: 3.5rem;
     padding-top: 1rem;
     padding-bottom: 6rem;
     border-bottom: .1rem solid rgba(0,0,0,0.15);
    }
}
///////////////////////////
////
.shelf-grid {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;

    border-bottom: .1rem solid rgba(0,0,0,0.15);
    &__item {
        width: 49.7rem;
        margin-top: 1.6rem;

        // &:last-child{
        //     margin-left: 1.5rem;
        // }
    }
}

.badge-subhead {
    &__p {
        text-transform: uppercase;
        font-size : 1.1rem;
        font-weight: 600;
        color: rgba(0,0,0,0.35);

    }

    &__h2{
        font-size: 1.7rem;
        line-height: 1.29412;
        font-weight: 400;
    }
    &__description{
        font-weight: 200;
        font-size: 1.8rem;
        color: #3C3C4399;
    }

    &__img {
        margin-top: .8rem;
        width: 100%;
        height: 28.5rem;
        border-radius: .6rem;
    }
}

///////////////////////////
////  GRID2

.shelf2 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: .6rem;
    padding-bottom: 3rem;

    &:not(:last-child){
        border-bottom: .1rem solid rgba(0,0,0,0.15);
    }
    &-section {
        width: 100%;
        display : flex;
        justify-content: space-between;
        &__title {
            font-size: 1.7rem;
            color: #000000F2;
        }

        &__see-all {
            color: #fa233b;
            text-decoration:none;
            font-size: 1.5rem;
            margin-bottom: .5rem;
            &:hover {
                border-bottom: 1px solid #fa233b;
            }
        }

    }
}

.grid {
    display:flex;
    padding-top: 2rem;
    justify-content: space-between;

}
.grid-item {
    width: 18.68rem;

    &__img3{
        // height: 100%;
        width: 100%;
        border-radius: 50%;
        height: 18.68rem ;
    }
    &__img,&__img2 {
        width: 100%;
        border-radius: .6rem;
    }
    &__img {
        height: 18.68rem ;
    }
    &__img2 {
        height: 10.53rem;
    }
    &-lookup{

        &__name {
            text-decoration: none;
            font-size : 1.19rem;
            color: #000000FD;
        }
        &__genre {font-size: 1.5rem;}
        &__genre3,&__genre2{font-size: 1.2rem;}
        &__genre3,&__genre,&__genre2 {color: #3C3C4399;}
        &__genre3 { text-align: center;}
    }

}


.footer-section {
    margin-top: 4rem;
    
    padding-bottom: 12rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-color: #f9f9f9;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    
    &__text {
        color: rgba(0,0,0,0.5);

        & a {
            color: black;
            text-decoration: none;
            cursor: pointer;

            &:hover{
                border-bottom: .1rem solid #fa233b;
                color: #fa233b;
            }
        }
    }
    &__country a {
        text-decoration: none;
        cursor: pointer;
        color: black;
        &:hover {
            border-bottom: .1rem solid black;
        }
    }
}

.sub-info {
    padding-top: .5rem;
    padding-bottom: 1rem;

    &__item a {
        color: black;
        margin-right: .8rem;
        cursor: pointer;
        text-decoration: none;

        &:not(:last-of-type){
            border-right: 1px solid black;
        }
       &:hover {
        border-bottom: .1rem solid #fa233b;
        color: #fa233b;
       }
    }
    &__item a :not(:last-child){
        border-right: .1rem solid black;
    }
}

/**
&:not(:last-child){
                content: '';
            padding-right: 1rem;
            border-right:1px solid rgba(0,0,0,0.35);
            height: 100%;
            text-decoration: none;
            }
**/

///////////////////////////
////  TRIAL-BANNER

.trial-banner {
    position:fixed;
    width: 100vw;
    bottom: 0 ;
    height: 7.5rem;
    color:white;
    background-color: #fa233b;
    display: flex;
    justify-content: space-between;
    align-self: center;
    &__description, .trial-btn {
        padding: 1.8rem 2.5rem;
    }
    &__description {
    }

    &__header {
        font-size: 2.2rem;

    }
    &__paragraph {
        font-size: 1.5rem;
        margin-top: 1.3rem;
        padding-bottom: 1rem;
    }
}

.trial-btn {

    &__btn {
        padding: .7rem 2.2rem;
        outline:none;
        border:none;
        border-radius: .5rem;
        font-size: 1.5rem;
        cursor:pointer;
    }
}